<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Catálogo</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% with request.resolver_match.url_name as url_name %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if url_name == 'index' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'index' %}">
                            Inicio <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% if url_name == 'author_list' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'author_list' %}">
                            Autores <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% if url_name == 'book_list' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'book_list' %}">
                            Libros <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% if url_name == 'copy_list' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'copy_list' %}">
                            Ejemplares <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% if url_name == 'gender_list' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'gender_list' %}">
                            Géneros <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% if url_name == 'language_list' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'language_list' %}">
                            Idiomas <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% if url_name == 'charts' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'charts' %}">
                            Gráficos <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% if url_name == 'map' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'map' %}">
                            Puntos de Interés <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            {% endwith %}
        </div>
    </div>
</nav>