{% extends "base.html" %}

{% block jumbotron %}
{% include "partials/jumbotron.html" with icon="<i class='fas fa-users'></i>" title="Autores" %}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <span class="font-weight-bold font-italic">Listado</span>
        
        <a href="{% url 'autor_new' %}" class="btn btn-success">
            <i class="fas fa-plus"></i>
        </a>
    </div>

    <div class="card shadow-sm">
        <div class="card-body table-responsive">
            {% if autores %}
                <table class="table table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="text-center">Foto</th>
                            <th scope="col">Apellidos, Nombres</th>
                            <th scope="col">Fecha de Nacimiento</th>
                            <th scope="col">Fecha de Deceso</th>
                            <th scope="col" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for autor in autores %}
                            <tr>
                                <th scope="row">
                                    {{ autor.id }}
                                </th>
                                <td class="text-center">
                                    {% if autor.image %}
                                        <img src="{{  autor.image.url }}" alt="{{ autor }}" class="img-fluid" style="height: 2rem; width: 2rem;">
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'autor' autor.id %}">{{ autor }}</a>
                                </td>
                                <td>
                                    {% if autor.fechaNac %}
                                        {{ autor.fechaNac }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if autor.fechaDeceso %}
                                        {{ autor.fechaDeceso }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'autor_update' autor.id %}" class="btn">
                                        <i class="fas fa-edit font-weight-light text-warning"></i>
                                    </a>
                                    
                                    <button type="button" class="btn">
                                        <i class="fas fa-trash-alt font-weight-light text-danger"></i>
                                </button>
                                </td>
                            </tr>
                        {% empty %}
                            <p>Oops! No tenemos Autores en catálogo.</p>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}        
                <p>Oops! No tenemos Autores en Catálogo.</p>
            {% endif %}
        </div>
        <div class="card-footer">
            {% block pagination %}
            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Anterior</a>
                    {% endif %}
                    <span class="page-current">
                        Pág. {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Siguiente</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        {% endblock %}
        </div>
    </div>
{% endblock %}