{% extends "base.html" %}

{% block content %}
    <h1>Libros prestados</h1>

    {% if perms.catalogo.can_mark_returned %}
    <!-- We can mark a BookInstance as returned. -->
    <!-- Perhaps add code to link to a "book return" view here. -->
        Puede cambiar a devuelto
    {% else %}
        No puede cambiar a devuelto
    {% endif %} 

    {% if my_books %}
    <ul>

      {% for bookinst in my_books %}
      <li class="{% if bookinst.es_deudor %}text-danger{% endif %}">
       {# <a href="% url 'bo }}ok-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }}) #}

        <a href="#">{{bookinst.libro.titulo}}</a> ({{ bookinst.fechaDevolucion }})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}