{% extends "base.html" %}

{% block content %}
    <h1>Libro: {{ ejemplar }}</h1>
    <hr>

    <p><b>Ejemplar: </b>{{ ejemplar.id }}</p>
    
    <p>
        <b>Fecha de Devolución: </b>{% if ejemplar.fechaDevolucion %} {{ ejemplar.fechaDevolucion }}  {% else %} --- {% endif %}
    </p>

    <p>
        <b>Estado: </b> {% if ejemplar.estado %} {{ ejemplar.get_estado_display }}{% else %} --- {% endif %}
    </p>
    <hr>
    <a href="{% url 'libro' ejemplar.libro.id %}">Volver al Libro</a>
{% endblock %}