{% extends "base.html" %}

{% block content %}
    <h1>Generos</h1>

    <p>
        <a href="{% url 'genero_new' %}" class="btn btn-secondary">Nuevo</a>
    </p>
    
    {% if generos %}
        <ul>
            {% for genero in generos %}
                <li>
                    <a href="{% url 'genero_update' genero.id %}">{{ genero.nombre }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Oops! No tenemos Géneros de Libros en catálogo.</p>
    {% endif %}
{% endblock %}