{% extends "base.html" %}

{% block jumbotron %}
    {% include "partials/jumbotron.html" with icon="<i class='fas fa-language'></i>" title="Idiomas" %}
{% endblock %}

{% block content %}
    <h1>Idiomas</h1>

    <p>
        <a href="{% url 'idioma_new' %}" class="btn btn-secondary">Nuevo</a>
    </p>
    
    {% if idiomas %}
        <table>
            <tr>
                <th>Nombre</th>
                <th></th>
                <th></th>
            </tr>
            {% for idioma in idiomas %}
            <tr>
                <td>{{ idioma.nombre }}</td>
                <td>
                    <a class="btn btn-sm btn-info" href="{% url 'idioma_update' idioma.id %}">Editar</a>
                </td>

                <td>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal{{ idioma.id }}">
                        Eliminar
                    </button>

                    {% include "idioma_modal.html" %}
                </td>
                
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Oops! No se crearon Idiomas aun...</p>
    {% endif %}
{% endblock %}