{% extends "base.html" %}

{% block jumbotron %}
    {% include "partials/jumbotron.html" with icon="<i class='fas fa-home'></i>" title="Inicio" description="Bienvenidos a <span class='font-italic'>Catálogo</span>, una aplicación web desarrollada en Django." %}
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <h4 class="font-weight-normal mb-4">Nuestro Catálogo se forma de:</h4>
    
        <div class="row">
            <div class="col-sm-12 col-md-4 mb-3">
                <div class="card bg-light">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <div class="bg-primary rounded mb-3 box">
                            <i class="fas fa-book text-white"></i>
                        </div>
    
                        <h2 class="mb-0">Libros</h2>
                        <p class="lead mb-0" style="font-size: 4rem;">{{ nroLibros }}</p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-12 col-md-4 mb-3">
                <div class="card bg-light">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <div class="bg-primary rounded mb-3 box">
                            <i class="fas fa-book-reader text-white"></i>
                        </div>
    
                        <h2 class="mb-0">Ejemplares</h2>
                        <p class="lead mb-0" style="font-size: 4rem;">{{ nroEjemplares }}</p>
    
                        <p>Disponibles: {{ nroDisponibles }}</p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-12 col-md-4 mb-3">
                <div class="card bg-light">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <div class="bg-primary rounded mb-3 box">
                            <i class="fas fa-users text-white"></i>
                        </div>
    
                        <h2 class="mb-0">Autores</h2>
                        <p class="lead mb-0" style="font-size: 4rem;">{{ nroAutores }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}