{% extends "base.html" %}

{% block content %}

    <h1>Título: {{ libro.titulo }}</h1>
    <img src="{{ libro.image.url }}" alt="{{ libro.titulo }}" class="img-responsive" width="150px">
    
    <hr>
    
    <p><strong>Autor:</strong> <a href="{% url 'author_details' libro.autor.id %}">{{ libro.autor }}</a></p>
    <p><strong>Resumen:</strong> {{ libro.resumen }}</p>
    <p><strong>ISBN:</strong> {{ libro.isbn }}</p>
    <p><strong>Idioma:</strong> {{ libro.idioma }}</p>
    <p><strong>Género:</strong> {{ libro.muestra_genero }}</p>
    
    <hr>
    
    <h2>Ejemplares</h2>
    {% if ejemplares %}
        <ul>
            {% for ejemplar in ejemplares %}
                <li>
                    <a href="{% url 'ejemplar' ejemplar.id %}">{{ ejemplar.id }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Este libro no tiene ejemplares.</p>
    {% endif %}
    
    <a href="#" class="btn btn-success">Agregar nuevo ejemplar</a>
    <hr>

    <a href="{% url 'libros' %}">Todos los Libros</a>
{% endblock %}