{% extends "base.html" %}

{% block jumbotron %}
    {% include "partials/jumbotron.html" with icon="<i class='fas fa-book'></i>" title="Libros" %}
{% endblock %}

{% block content %}
<div class="col-sm-12">
    <h1>Listado</h1>
    {% if libros %}
    <ul>
        {% for libro in libros %}
        <li>
            <a href="{% url 'libro' libro.id %}">{{ libro.titulo }}</a> ({{libro.autor}})
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Oops! No tenemos libros en catálogo.</p>
    {% endif %}
</div>
{% endblock %}