{% extends "base.html" %}

{% block jumbotron %}
    {% include "partials/jumbotron.html" with icon="<i class='fas fa-list'></i>" title="Género" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8">
            <p>
                <strong>Nombre:</strong>
                {{ genero.nombre  }}
            </p>

            <hr>
            
            <a href="{% url 'gender_list' %}" class="btn btn-link">
                <i class="fas fa-arrow-left mr-1"></i> VOLVER AL LISTADO
            </a>
        </div>
    </div>
{% endblock %}