{% extends "base.html" %}

{% block jumbotron %}
    {% include "partials/jumbotron.html" with icon="<i class='fas fa-book'></i>" title="Libros" %}
{% endblock %}

{% block content %}
<div class="row">
    {% include "partials/alert.html" %}

    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="font-weight-bold">LISTADO DE LIBROS</span>

            {% if perms.catalogo.add_libro %}
                <a href="{% url 'book_create' %}" class="btn btn-success">
                    <i class="fas fa-plus mr-1"></i> NUEVO LIBRO
                </a>
            {% endif %}
        </div>

        <div class="card shadow-sm">
            <div class="card-body table-responsive rounded-top p-0">
                <table class="table table-hover table-bordered mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Título</th>
                            <th scope="col">Resumen</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Género/s</th>
                            {% if perms.catalogo.change_libro or perms.catalogo.delete_libro %}
                            <th scope="col" class="text-center">Acciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                        <tr>
                            <th scope="row">
                                {{ book.id }}
                            </th>
                            <td class="text-center">
                                {% if book.image %}
                                <img src="{{  book.image.url }}" alt="{{ book }}" class="img-fluid"
                                    style="height: 2rem; width: 2rem;">
                                {% else %}
                                <p class="text-muted font-italic mb-0">Sin imagen</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if perms.catalogo.view_libro %}
                                    <a href="{% url 'book_details' book.id %}">{{ book }}</a>
                                {% else %}
                                    {{ book }}
                                {% endif %}
                            </td>
                            <td>
                                {{ book.resumen|slice:"0:50"  }}...
                            </td>
                            <td>
                                {% if perms.catalogo.view_autor %}
                                <a href="{% url 'author_details' book.autor.id %}">{{ book.autor }}</a>
                                {% else %}
                                    {{ book.autor }}
                                {% endif %}
                            </td>
                            <td>
                                {{ book.muestra_genero }}
                            </td>
                            {% if perms.catalogo.change_libro or perms.catalogo.delete_libro %}
                                <td class="text-center">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        {% if perms.catalogo.change_libro %}
                                            <a href="{% url 'book_update' book.id %}" class="btn btn-warning">
                                                <i class="fas fa-edit font-weight-light mr-1"></i>
                                            </a>
                                        {% endif %}
                                        {% if perms.catalogo.delete_libro %}
                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                            data-target="#book-{{ book.id }}">
                                                <i class="fas fa-trash-alt font-weight-light mr-1"></i>
                                            </button>
                                        {% endif %}
                                    </div>

                                    {% include "books/partials/modal.html" %}
                                </td>
                            {% endif %}
                        </tr>
                        {% empty %}
                            <tr class="bg-red">
                                <td colspan="7" class="text-center">
                                    ¡Oops! No tenemos Libros en Catálogo.
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% block pagination %}
                {% if is_paginated %}
                    <div class="card-footer">
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Anterior</a>
                                {% endif %}
                                <span class="page-current">
                                    Pág. {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Siguiente</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}