<div class="modal fade" id="author-{{ author.id }}" tabindex="-1" aria-labelledby="author-{{ author.id }}-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-left" id="author-{{ author.id }}-label">Eliminar Autor #{{ author.id }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <p>¿Está seguro de eliminar a {{ author }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">
                    <i class="fas fa-times mr-1"></i> NO, CANCELAR
                </button>
                <a href="{% url 'author_delete' author.id %}" class="btn btn-danger">
                    <i class="fas fa-trash-alt mr-1"></i> SÍ, ELIMINAR
                </a>
            </div>
        </div>
    </div>
</div>