/* Custom page CSS
  -------------------------------------------------- */

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
}

.active {
    text-decoration: underline !important;
    text-underline-position: under !important;
}