{% extends "base.html" %}

{% block jumbotron %}
    {% include "partials/jumbotron.html" with icon="<i class='fas fa-users'></i>" title="Autores" %}
{% endblock %}

{% block content %}
    <div class="row">
        {% include "partials/alert.html" %}

        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <span class="font-weight-bold">LISTADO DE AUTORES</span>
                
                <a href="{% url 'author_create' %}" class="btn btn-success">
                    <i class="fas fa-plus mr-1"></i> NUEVO AUTOR
                </a>
            </div>
        
            <div class="card shadow-sm">
                <div class="card-body table-responsive rounded-top p-0">
                    <table class="table table-hover table-bordered mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" class="text-center">Foto</th>
                                <th scope="col">Apellidos, Nombres</th>
                                <th scope="col">Fecha de Nacimiento</th>
                                <th scope="col">Fecha de Deceso</th>
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for author in authors %}
                                <tr>
                                    <th scope="row">
                                        {{ author.id }}
                                    </th>
                                    <td class="text-center">
                                        {% if author.image %}
                                            <img src="{{  author.image.url }}" alt="{{ author }}" class="img-fluid" style="height: 2rem; width: 2rem;">
                                        {% else %}
                                            <p class="text-muted font-italic mb-0">Sin foto</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'author_details' author.id %}">{{ author }}</a>
                                    </td>
                                    <td>
                                        {% if author.fechaNac %}
                                            {{ author.fechaNac }}
                                        {% else %}
                                            <p class="text-muted font-italic mb-0">Sin fecha de Nacimiento</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if author.fechaDeceso %}
                                            {{ author.fechaDeceso }}
                                        {% else %}
                                            <p class="text-muted font-italic mb-0">Sin fecha de Deceso</p>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <a href="{% url 'author_update' author.id %}" class="btn btn-warning btn-sm">
                                            <i class="fas fa-edit font-weight-light mr-1"></i> EDITAR
                                        </a>
                                        
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#author-{{ author.id }}">
                                            <i class="fas fa-trash-alt font-weight-light mr-1"></i> ELIMINAR
                                        </button>

                                        {% include "authors/partials/modal.html" %}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr class="bg-red">
                                    <td colspan="6" class="text-center">
                                        Oops! No tenemos Autores en Catálogo.
                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% block pagination %}
                    {% if is_paginated %}
                        <div class="card-footer">
                            <div class="pagination">
                                <span class="page-links">
                                    {% if page_obj.has_previous %}
                                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Anterior</a>
                                    {% endif %}
                                    <span class="page-current">
                                        Pág. {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                                    </span>
                                    {% if page_obj.has_next %}
                                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Siguiente</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}